<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @channel.account %>
</p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Country Code:</strong>
  <%= @channel.countrycode %>
</p>

<p>
  <strong>Verify Code:</strong>
  <%= @channel.verifycode %>
</p>

<p>
  <strong>Password Hash:</strong>
  <%= @channel.hashpassword %>
</p>

<p>
 <pre>
  <%= @channel.protocol %>
 </pre>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
