<%= form_with(model: activate, local: true) do |form| %>
  <% if activate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activate.errors.count, "error") %> prohibited this activate from being saved:</h2>

      <ul>
      <% activate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code, id: :activate_code %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :activate_phone %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :activate_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
