<p id="notice"><%= notice %></p>

<h1>Activates</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Code</th>
      <th>Phone</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @activates.each do |activate| %>
      <tr>
        <td><%= activate.code %></td>
        <td><%= activate.phone %></td>
        <td><%= activate.status %></td>
        <td><%= link_to 'Показать', activate %></td>
        <td><%= link_to 'Редактировать', edit_activate_path(activate) %></td>
        <td><%= link_to 'Удалить', activate, method: :delete, data: { confirm: 'Подтвердить операцию?' } %></td>
        <td><%= link_to 'Смотреть протокол', activate_protocols_path(activate) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activate', new_activate_path %>
